:root{
    --bg-color: #000000;
    --text-color: #ffffff;
    --card-color:  #121212;
    --yellow: #f9b234;
    --green:  #3ecd5e;
    --orange: #e44002;
    --pink: #cd3e94;
    --b-purple: #4c49ea;
    --purple:  #952aff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1142px;
  margin: 0 auto;
}

.card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.card_details {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.card_details_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.card_details_link:hover,
.card_details_link:hover .card_details_date {
  text-decoration: none;
  color: #FFF;
}
.card_details_link:hover .card_details_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.card_details_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.card_details_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.card_details_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.card_details_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.card_details:nth-child(2n) .card_details_bg {
  background-color: #3ecd5e;
}
.card_details:nth-child(3n) .card_details_bg {
  background-color: #e44002;
}
.card_details:nth-child(4n) .card_details_bg {
  background-color: #952aff;
}
.card_details:nth-child(5n) .card_details_bg {
  background-color: #cd3e94;
}
.card_details:nth-child(6n) .card_details_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .card_details {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .card_details_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .card_details {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .card_details_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .card_details_link {
    padding: 22px 40px;
  }
  .card_details_date-box {
    font-size: 16px;
  }
}