*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

:root{
  --purple-bg: #ac81ed;     /* Background Gradient Purple */
  --blue-panel: #02b4d2;    /* Left Panel Blue */
  --white-panel: #fafafa;   /* Right Panel White */
  --submit-btn: #886aee;    /* Submit Button */
  --text-black: #000000;    /* Headings & Labels */
  --text-white: #ffffff;    /* White text */
  --input-grey: #ededed;    /* Input field background */
  --input-text: darkgrey;   /* Input field text */
  --font-family: 
}

.contact-section{
    background-image: linear-gradient(90deg, var(--purple-bg), var(--submit-btn));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 1%;
}

.contact-section .contact-container{
    width: 60%;
    min-height: 100%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    border-radius: 6px;
    display: flex;
}

.contact-section .contact-container .left-panel{
    width: 50%;
    max-height: 100%;
    background-color: var(--blue-panel);
    margin-right: auto;
    color: var(--text-white);
    text-align: center;
    border-radius: 6px 0 0 6px;
    padding: 16% 0 0% 0;
}

.contact-section .contact-container .left-panel p{
    padding: 0% 13% 0% 13%;
}

.contact-section .contact-container .right-panel{
    width: 50%;
    max-height: 100%;
    background-color: var(--white-panel);
    margin-left: auto;
    text-align: center;
    border-radius: 0 6px 6px 0;
    padding: 8% 0 0 0;
}

.contact-section .contact-container .right-panel p{
    text-align: left;
    padding-left: 13%;
}

.contact-section .contact-container .right-panel .form-input{
    background-color: var(--input-grey);
    padding: 4% 2% 4% 2%;
    width: 70%;
    border: 0px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.contact-section .contact-container .right-panel .submit-button{
    color: var(--text-white);
    background-color: var(--blue-panel);
    padding: 2% 8% 2% 8%;
    margin: auto;
    border: 0px;
    border-radius: 25px;
    border: none;
    font-weight: 300;
    margin-top: 0.1%;
}